/* GENERAL
   ============================= */
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
}
h1 {
  font-size: 75px;
  font-size: 4.68rem;
  color: #fff;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 0;
}
h3 {
  color: #252129;
  font-size: 25px;
  font-size: 1.56rem;
  margin-bottom: 0;
}
h4 {
  color: #767477;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}
.wrap {
  max-width: 1140px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.half {
  width: 50%;
  z-index: 20;
}
.one-third {
  display: flex;
  flex-direction: column;
  width: 31%;
  flex-wrap: wrap;
  align-items: baseline;
}
.one-fourth {
  width: 25%;
}
.btn {
  border: 1px solid white;
  background: transparent;
  color: #fff;
  text-decoration: none;
  padding: 10px 22px;
  text-transform: uppercase;
}
.btn:hover {
  background: #fff;
  color: #2c2640;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
hr {
  border-color: #b1a3b4;
  border-style: solid;
  width: 180px;
  margin: 10px 0 40px 0;
}
.white-hr {
  border-color: #fff;
}

/* HEADER
   ============================= */
header {
  background: #fff;
  padding: 24px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 1px 1px 3px 1px #2c273f14;
}
header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navicon {
  background: #333;
  display: none;
  height: 32px;
  position: relative;
  width: 32px;
}
.navicon:before {
  background: url(images/icon-hamburger.svg);
  content: '';
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.navicon:after {
  content: '';
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.menu {
  float: right;
  margin: 0;
}
.menu li {
  display: inline-block;
}
.menu a,
.menu a:visited{
  color: #828085;
  color: hsl(273, 4%, 51%);
  padding: 10px 22px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.menu a:hover,
.menu a:active {
  color: #2b272f;
  color: hsl(270, 9%, 17%);
}
.menu .nav-feature,
.menu .nav-feature:visited {
  border: 2px solid #2b262f;
  color: #2b262f;
}
.menu .nav-feature:hover {
  background: #2b262f;
  color: #fff;
}
#menu-btn { /* header checkbox */
  display: none;
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  background: url(images/icon-close.svg);
}

/* TOP
   ============================= */
.top {
  background: rgb(44,38,64);
  background: linear-gradient(180deg, rgba(44,38,64,1) 0%, rgba(44,38,64,1) 65%, rgba(255,255,255,1) 65%);
  padding: 100px 0 25px;
  position: relative;
}
.top .flex-container {
  justify-content: space-between;
}
.intro-left-img {
  position: absolute;
  bottom: 0;
}
.intro-right-img {
  position: absolute;
  top: 0;
  right: 0;
}
.intro-left-mobile,
.intro-right-mobile {
  display: none;
}
.intro-desktop {
  display: block;
}
.mobile-img{
  display: none;
}
.intro {
  color: #fff;
  padding-bottom: 20px;
  font-weight: normal;
  line-height: 1.8;
}

/* MIDDLE
============================= */
.middle {
  background: #fff;
  padding: 0 0 70px;
}
.middle h2 {
  margin-top: 0;
  font-size: 4.375rem;
  color: #252229;
  font-weight: normal;
}
.middle p {
  color: #949297;
}
.middle .flex-container {
    justify-content: space-between;
}
.middle-hr {
  display: none;
}

/* BOTTOM
============================= */
.bottom {
  margin: 60px 0 150px;
}
.lower-block {
  padding: 30px 60px;
  background: #2c2640 url('images/bg-pattern-how-we-work-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.lower-block h2 {
  width: 50%;
  color: #fff;
  font-weight: normal;
  font-size: 50px;
}

/* FOOTER
============================= */
footer {
  background: #fafafa url('images/bg-pattern-footer-desktop.svg');
  background-repeat: no-repeat;
  padding: 100px 0;
  letter-spacing: 1px;
  font-weight: 600;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  margin-bottom: 10px;
}
footer a,
footer a:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #2c263f;
}
footer a:hover {
  text-decoration: underline;
}
.footer-top {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
.social {
  float: right;
}
.social svg {
  margin-left: 9px;
}
.footer-icon path:hover {
  fill: #353239;
}
.attribution {
  padding: 10px 0;
}

/* MEDIA QUERIES
============================= */

@media only screen and (max-width: 1140px)  {
  h1 {
    margin-top: 30px;
  }
  .wrap {
    max-width: 95%;
  }
  img.intro-desktop {
    width: 46%;
  }
  .top {
    background: rgb(44,38,64);
    background: linear-gradient(180deg, rgba(44,38,64,1) 0%, rgba(44,38,64,1) 90%, rgba(255,255,255,1) 90%);
  }
  .top {
    padding-top: 60px;
  }
  .midtop-hr {
    display: none;
  }
  .white-hr {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 800px)  {
  h1 {
    margin-top: 0;
    font-size: 56px;
    font-size: 3.5rem;
  }
  header {
    padding-bottom: 0;
    position: static;
  }
  .logo {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .wrap {
    max-width: none;
  }
  .middle .wrap {
    max-width: 95%;
  }
  .half {
    width: 100%;
  }
  .one-third {
    width: 79%;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
  .one-fourth {
    width: 100%;
    text-align: center;
  }
  .menu {
    margin: 0;
    background: #2b282f url(images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    padding: 0;
    width: 100%;
    flex-basis: 100%;
    height: 0;
    transition: height 0.2s;
  }
  .menu-icon {
    margin-right: 20px;
    margin-bottom: 14px;
    cursor: pointer;
  }
  .navicon,
  .navicon:before,
  .navicon:after {
    display: block
  }
  .menu-btn:checked ~ .menu {
    height: calc(100vh - 70px);
    overflow: hidden;
    transition: height 0.2s;
  }
  .menu li {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  .menu a,
  .menu a:visited {
    display: block;
    padding: 25px 22px;
    color: #fff;
   }
   .menu a:hover {
    background: #3d3942;
    color: #ffffff;
   }
  .menu .nav-feature,
  .menu .nav-feature:visited {
    margin: 0 30px;
    box-sizing: border-box;
    border-color: #ffffff;
    color: #fff;
  }
  .menu a.nav-feature:hover {
    color: #2b282f;
    background: #fff;
  }
  .intro-desktop {
    display: none;
  }
  .intro-left-img,
  .intro-right-img {
    display: none;
    z-index: 1;
  }
  .intro-left-mobile,
  .intro-right-mobile {
    display: block;
    z-index: 1;
  }
  .intro-left-mobile {
    position: absolute;
    top: 0;
    left: 0;
  }
  .intro-right-mobile {
    position: absolute;
    right: 0;
    bottom: -144px;
  }
  .mobile-img {
    display: block;
  }
  .intro-mobile {
    width: 100%;
    display: block;
  }
  .top {
    background: #2c2640;
    padding: 100px 30px;
    box-sizing: border-box;
    text-align: center;
  }
  .top hr {
    display: none;
  }
  .middle h2 {
    text-align: center;
    margin-top: 50px;
  }
  .middle-hr {
    display: block;
    margin: 100px auto 0;
  }
  .middle .flex-container {
    justify-content: center;
  }
  .lower-block {
    flex-direction: column;
    text-align: center;
    max-width: 90%;
    padding: 50px 40px 90px 40px;
    background: #2c2640 url('images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
  }
  .lower-block h2 {
    width: 100%;
    font-size: 50px;
    font-size: 3.125rem;
    line-height: 1.1;
  }
  .footer-top {
    text-align: center;
  }
  .social {
    float: none;
    margin-top: 30px;
  }
}
